body {
margin: 0;
padding: 0;
}
header {
	background: url(../img/bg.jpg) no-repeat center top/cover;

	padding-bottom:500px;
}
.clearfix {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.container {
	width: 800px;
	
	margin: 0 auto;
	height: 200px
}

footer {
	height: 200px;
}
.logo {
	float: left;
}
nav {
	float: right;
	margin-top: 15px;

}
.menu {
	padding: 0;
	margin: 0;
	display: block;
}
.menu li {
	float: left;
	margin-right:
	display: block;
	margin-right: 41px;
	font-size: 16px;
	font-family: Arial;
	list-style-type: none;
	
}
.menu a:hover { 
	color: red;
	text-shadow: none;
		
	}
.menu  a {
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	 text-shadow: red 1px 1px 0, red -1px -1px 0, 
                 red -1px 1px 0, red 1px -1px 0;
}
.title1 {
	font-size: 30px;
	font-family: Arial;
	text-transform: uppercase;
	text-align: center;
	color: white;
	margin-top: 300px;
	 text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
} 
h1 {
	font-size: 50px;
	font-family: Arial;
	text-transform: uppercase;
	text-align: center;
	color: white;
	margin-top: 50px;
	 text-shadow: red 1px 1px 0, red -1px -1px 0, 
                 red -1px 1px 0, red 1px -1px 0;
}
.button {
	background: #FFA500;
	color:#696969;
	border-radius: 5px;
	display: block;
	width: 240px;
	padding:20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	font-family: Arial;
}
.title {
padding-top: 50px;
}
.title h2 {
font-size: 35px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
font-family: Century Gothic;
margin-top: 20px;

}
.title p {
text-align:center;
color:#696969;
font-size: 20px;
font-family: Arial;
}
.blochok {
	width: 250px;
	float: left;
	text-align: center;
}
.blochok h3 {
	font-size: 18px;
}
.blochok p {
	line-height: 1.5em;
	font-size: 14px;
	color: #696969;
}
.advantages {
	margin-top: 30px;

}
.blochok:last-child {
	float: right;
}
.blochok:nth-child(2) {
	margin-left: 50px;
}
#products {
background-color: #f7f7f7;
margin-top: 200px;
height: 400px;
}
.works img {
	float:left;
	

}
.works img:nth-child(2) {
	margin-left: 80px;
}
.works img:last-child {
	float: right;
}
footer {
	text-align: center;

}
.bottom {
	margin-top: 50px;
}
.bottom div {
float: left;
margin-left: 100px;
width: 200px;
text-align: right;

}
.bottom img{
	border-radius: 50%;
	margin-left: 20px;
}
.bottom-right {
	margin-top: 50px;
}
.bottom-right div {
	float: right;
margin-right: 100px;
width: 200px;
text-align: left;
}
.bottom-right img {
	border-radius: 50%;
	float:right;
	margin-right: 30px;
}
#se {
	height: 600px;
	margin-top: 100px;
}
